.button {
  padding: 8px 24px;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-weight: bold;
  color: #000;
  transition: all .2s;
  cursor: pointer;
  outline: none; }
  .button:hover {
    background: #000;
    color: #fff; }

.controls {
  padding: 40px 20px; }

.controls__info {
  font-size: 11px;
  color: #999; }

.controls__hr {
  margin: 20px 0;
  border: 1px solid #000; }

.form__element__checkboxInput {
  display: none; }

.form__element__checkboxLabel {
  font-weight: bold; }
  .form__element__checkboxLabel:before {
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    transform: translateY(5px); }
    .form__element__checkboxInput:checked + .form__element__checkboxLabel:before {
      background: #000; }

.form__element__selectWrapper {
  display: inline-block;
  position: relative; }
  .form__element__selectWrapper:before, .form__element__selectWrapper:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 8px;
    height: 2px;
    background: #000;
    pointer-events: none; }
  .form__element__selectWrapper:before {
    right: 18px;
    transform: rotate(45deg); }
  .form__element__selectWrapper:after {
    right: 14px;
    transform: rotate(-45deg); }
  .form__element__selectWrapper:hover:before, .form__element__selectWrapper:hover:after {
    background: #fff; }

.form__element__select {
  padding: 8px 48px 8px 24px;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none; }
  .form__element__select:hover {
    background: #000;
    color: #fff; }

.form__element {
  margin: 0 0 20px 0; }
  .form__element--inline {
    display: inline-block;
    margin-right: 20px; }

* {
  box-sizing: border-box; }

.app {
  width: 470px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px; }

.frame {
  display: inline-block;
  border: 15px solid #000;
  padding: 20px; }

.canvas {
  max-width: 100%; }
