.form__element__checkboxInput {
  display: none;
}

.form__element__checkboxLabel {
  display: inline-block;
  position: relative;
  height: 27px;
  font-weight: bold;
  cursor: pointer;

  &:before {
    content: "";
    display: inline-block;
    margin: 0 10px 0 0;
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    transform: translateY(5px);
  }

  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 11px;
    left: 6px;
    transition: background .2s;

    .form__element__checkboxInput:checked + & {
      background: #000;
    }
  }
}
