.form__element__range::-webkit-slider-thumb {
  margin-top: -9px;
  -webkit-appearance: none;
}

.form__element__range::-webkit-slider-thumb {
  border: 2px solid #000;
  height: 18px;
  width: 10px;
  background: #fff;
  cursor: pointer;
}

.form__element__range::-moz-range-thumb {
  border: 2px solid #000;
  height: 18px;
  width: 10px;
  background: #fff;
  cursor: pointer;
}
